.stats-item {
    display: flex;
    align-items: center;
}
.stats-header {
    width: 32px;
    text-align: right;
    margin: .25rem;
}
.stats-value {
    width: 32px;
    margin: .25rem;
}
.stats-bar {
    height: .75rem;
    border-radius: 10px;
}
