.pokemon-list-item {
    margin: .5rem 1rem;
}

.pokemon-icon {
    width: 72px;
    float: left;
}

.pokemon-name {
    width: 120px;
    float: left;
}

.pokemon-types {
    width: 100%;
    text-align: right;
}
