.quick-navigation {
    height: 60%;
    width: 10px;
    position: fixed;
    z-index: 1;
    top: 20%;
    right: 2px;
    background-color: lightgray;
    overflow-x: hidden;
    border-radius: 5px;
  }
  
  .scroll-indicator {
      outline: 1px solid black;
      position: absolute;
      width: 100%;
  }