.move-list-item {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
}

.move-name {
    margin-left: 1rem;
    width: 120px;
}

.move-power {
    width: 48px;
}

.move-type {
    text-align: right;
    margin-right: 1rem;
}
