<button (click)="goHome()">Home</button>
<button (click)="goBack()">Back</button>
<div *ngIf="pokemon">
  <h2>Description:</h2>
  <div> <span> ID: </span> {{pokemon.id}} </div>
  <div> <span> Name: </span> {{pokemon.name}} </div>
  <div> <span> Type: </span>{{pokemon.typeOneName}} {{pokemon.typeTwoName}}</div> 
  <div> <span> Cagegory: </span> {{pokemon.category}} </div>
  <div> <span> Generation: </span> {{pokemon.generation}} </div>
  <div> <span> Egg Groups: </span> {{pokemon.eggGroupOne}}, {{pokemon.eggGroupTwo}} </div>
  <div> <span> Capture Rate: </span> {{pokemon.captureRate}}% </div>
  <div> <span> Gender Rate: </span> {{pokemon.genderRate}} </div>
  <div> <span> EV Yield: </span> {{pokemon.evYield}} </div>
  <div> <span> Pokedex entry: </span> A strange seed was planted on its back at birth. The plant sprous and grows with this Pokemon. </div>
</div>
<div>
  <h2>Base Stats:</h2>
  <div> <span> HP: </span> 45 </div>
  <div> <span> ATK: </span> 49 </div>
  <div> <span> DEF: </span> 49 </div>
  <div> <span> SPA: </span> 65 </div>
  <div> <span> SPD: </span> 65 </div>
  <div> <span> SPE: </span> 45 </div>
  <div> <span> Total: </span> 318 </div>
</div>
<div>
  <h2>Evolutions:</h2>
  <div> <span (click)="goPokemon(1)"> Bulbasaur </span> </div>
  <div> <span> Lv16 => </span> </div>
  <div> <span (click)="goPokemon(2)"> Ivysaur </span> </div>
  <div> <span> Lv32 => </span> </div>
  <div> <span (click)="goPokemon(3)"> Venusaur </span> </div>
</div>
<div>
  <h2>Abilities:</h2>
    <h3>Normal:</h3>
    <div> <span> {{abalityOne.name}}: </span> {{abalityOne.description}} </div>
    <div *ngIf="pokemon.abalityTwo != 0"> <span> {{abalityTwo.name}}: </span> {{abalityTwo.description}} </div>
    <h3>Hidden:</h3>
    <div> <span> {{abalityHidden.name}}: </span> {{abalityHidden.description}} </div>
</div>
<div>
  <h2>Moves:</h2>
    <h3>Level Up:</h3>
    <div> <span> Tackle </span> Lv1 </div>
    <div> <span> Growl </span> Lv3 </div>
    <div> <span> Leech Seed </span> Lv7 </div>
    <div> <span> Vine Whip </span> Lv9 </div>
    <h3>TM/HM:</h3>
    <div> <span> Double Team </span> TM32</div>
    <div> <span> Energy Ball </span> TM53</div>
</div>
<div>
  <h2>Location:</h2>
  <div> <span> Kanto: </span> Pallet Town/Initial Pokemon </div>
  <div> <span> Alola: </span> Route 2/Island Scan/Grassy Terrain </div>
</div>