<div class="detail-page" *ngIf="pokemon">
  <div class="page-section">
    <img class="pokemon-image" src="{{getImageURL('poke', pokemon.id)}}" alt="{{pokemon.name}}">
    <h2 class="card-title text-center"> {{pokemon.name}} </h2>
    <div class="text-center"> #{{(pokemon.id).toString().padStart(3, '0')}} {{getMatchedLanguage(species.genera).genus}} </div>
    <div class="text-center">
      {{getSlot(pokemon.types, 1).type.name}}
      {{getSlot(pokemon.types, 2).type.name}}
    </div>
  </div>

  <div class="page-section">
    <table class="table">
      <tr>
        <td>Generation:</td>
        <td>{{species.generation.name}}</td>
      </tr>
      <tr>
        <td>Egg Groups:</td>
        <td>{{species.egg_groups[0].name}}, {{species.egg_groups[1].name}}</td>
      </tr>
      <tr>
        <td>Capture Rate:</td>
        <td>{{species.capture_rate}}%</td>
      </tr>
      <tr>
        <td>Gender Rate:</td>
        <td>{{species.gender_rate}}</td>
      </tr>
      <!-- <tr>
        <td>EV Yield:</td>
        <td>{{pokemon.evYield}}</td>
      </tr> -->
    </table>
  </div>

  <div class="page-section">
    <h4 class="card-title text-center">PokeDex Entry</h4>
    <div>{{getMatchedLanguageVersion(species.flavor_text_entries).flavor_text}}</div>
  </div>

  <div class="page-section">
    <h4 class="card-title text-center">Base Stats</h4>
    <table class="table">
      <tr>
        <td>HP:</td>
        <td>{{getStat('hp')}}</td>
      </tr>
      <tr>
        <td>ATK:</td>
        <td>{{getStat('attack')}}</td>
      </tr>
      <tr>
        <td>DEF:</td>
        <td>{{getStat('defense')}}</td>
      </tr>
      <tr>
        <td>SPA:</td>
        <td>{{getStat('special-attack')}}</td>
      </tr>
      <tr>
        <td>SPD:</td>
        <td>{{getStat('special-defense')}}</td>
      </tr>
      <tr>
        <td>SPE:</td>
        <td>{{getStat('speed')}}</td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>{{
          pokemon.stats[5].base_stat + pokemon.stats[4].base_stat + pokemon.stats[3].base_stat +
          pokemon.stats[2].base_stat + pokemon.stats[1].base_stat + pokemon.stats[0].base_stat}}
        </td>
      </tr>
    </table>
  </div>

  <!-- <div class="page-section">
    <h4 class="card-title text-center">Evolutions</h4>
    <div *ngFor="let evo of pokemon.evolution">
      <div class="section-evolution border">
        <img class="evolution-image" 
          (click)="goPokemon(evo.pokemonId)"
          src="{{getImageURL('poke', evo.pokemonId)}}"
          alt="{{evo.pokemonName}}">
      </div>
      <div class="evolution-condition text-center">
        {{evo.condition}}
      </div>
    </div>
  </div> -->

  <div class="page-section">
      <h4 class="card-title text-center">Abilities</h4>
      <div class="section-ability"
        *ngFor="let ability of pokemon.abilities"
        (click)="goAbility(ability.ability)">
        <h5 class="card-subtitle">{{ability.ability.name}}</h5>
        <div *ngIf="ability.is_hidden === true">(Hidden)</div>
      </div>
  </div>

  <div class="page-section">
      <h4 class="card-title text-center">Moves</h4>
      <table class="table">
        <th>Level Up</th>
        <tr *ngFor="let move of levelMoves"
          (click)="goMove(move.move)">
          <td>{{move.move.name}}</td>
        </tr>
      </table>

      <table class="table">
        <th>TM/HM</th>
        <tr *ngFor="let move of machineMoves"
          (click)="goMove(move.move)">
          <td>{{move.move.name}}</td>
        </tr>
      </table>
  </div>

  <!-- <div class="page-section">
    <h4 class="card-title text-center">Location</h4>
    <div> <span> Kanto: </span> Pallet Town/Initial Pokemon </div>
    <div> <span> Alola: </span> Route 2/Island Scan/Grassy Terrain </div>
  </div> -->
</div>
