.pokemon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}
.section-evolution {
    width: 72px;
    height: 72px;
    margin: 4px;
}
.evolution-image {
    display: block;
    margin: 6px;
    height: 60px;
}
.evolution-condition {
    height: 24px;
    width: 72px;
}
.section-ability {
    margin-top: 12px;
    margin-bottom: 12px;
}