<div class="detail-page" *ngIf="pokemon">
  <div class="page-section">
    <img class="pokemon-image" src="{{getImageURL('poke', pokemon.id)}}" alt="{{pokemon.name}}">
    <h2 class="card-title text-center"> {{pokemon.name}} </h2>
    <div class="text-center"> #{{(pokemon.id).toString().padStart(3, '0')}} {{pokemon.category}} </div>
    <div class="text-center">
      {{getTypeName(pokemon.typeOne)}}
      {{getTypeName(pokemon.typeTwo)}}
    </div>
  </div>

  <div class="page-section">
    <table class="table">
      <tr>
        <td>Generation:</td>
        <td>{{pokemon.generation}}</td>
      </tr>
      <tr>
        <td>Egg Groups:</td>
        <td>{{pokemon.eggGroupOne}}, {{pokemon.eggGroupTwo}}</td>
      </tr>
      <tr>
        <td>Capture Rate:</td>
        <td>{{pokemon.captureRate}}%</td>
      </tr>
      <tr>
        <td>Gender Rate:</td>
        <td>{{pokemon.genderRate}}</td>
      </tr>
      <tr>
        <td>EV Yield:</td>
        <td>{{pokemon.evYield}}</td>
      </tr>
    </table>
  </div>

  <div class="page-section">
    <h4 class="card-title text-center">PokeDex entry</h4>
    <div>{{pokemon.pokeDexEntry}}</div>
  </div>

  <div class="page-section">
    <h4 class="card-title text-center">Base Stats</h4>
    <table class="table">
      <tr>
        <td>HP:</td>
        <td>{{pokemon.baseSatas.hp}}</td>
      </tr>
      <tr>
        <td>ATK:</td>
        <td>{{pokemon.baseSatas.atk}}</td>
      </tr>
      <tr>
        <td>DEF:</td>
        <td>{{pokemon.baseSatas.def}}</td>
      </tr>
      <tr>
        <td>SPA:</td>
        <td>{{pokemon.baseSatas.spAtk}}</td>
      </tr>
      <tr>
        <td>SPD:</td>
        <td>{{pokemon.baseSatas.spDef}}</td>
      </tr>
      <tr>
        <td>SPE:</td>
        <td>{{pokemon.baseSatas.speed}}</td>
      </tr>
      <tr>
        <td>Total:</td>
        <td>{{pokemon.baseSatas.hp + pokemon.baseSatas.atk + pokemon.baseSatas.def + pokemon.baseSatas.spAtk + pokemon.baseSatas.spDef + pokemon.baseSatas.speed}}</td>
      </tr>
    </table>
  </div>

  <div class="page-section">
    <h4 class="card-title text-center">Evolutions</h4>
    <div *ngFor="let evo of pokemon.evolution">
      <div class="section-evolution border">
        <img class="evolution-image" 
          (click)="goPokemon(evo.pokemonId)"
          src="{{getImageURL('poke', evo.pokemonId)}}"
          alt="{{evo.pokemonName}}">
      </div>
      <div class="evolution-condition text-center">
        {{evo.condition}}
      </div>
    </div>
  </div>

  <div class="page-section">
      <h4 class="card-title text-center">Abilities</h4>
      <div class="section-ability"
        (click)="goAbility(abilityOne.id)">
        <h5 class="card-subtitle">{{abilityOne.name}}</h5>
        {{abilityOne.description}}
      </div>

      <div class="section-ability"
        *ngIf="pokemon.abilityTwo != 0"
        (click)="goAbility(abilityTwo.id)">
        <h5 class="card-subtitle">{{abilityTwo.name}}</h5>
        {{abilityTwo.description}}
      </div>

      <div class="section-ability"
        *ngIf="pokemon.abilityHidden != 0"
        (click)="goAbility(abilityHidden.id)">
        <h5 class="card-subtitle">{{abilityHidden.name}}</h5>(Hidden)
        {{abilityHidden.description}}
      </div>
  </div>

  <div class="page-section">
      <h4 class="card-title text-center">Moves</h4>
      <table class="table">
        <th>Level Up</th>
        <tr *ngFor="let move of levelMoves"
          (click)="goMove(move.id)">
          <td>{{move.name}}</td>
          <td>{{getTypeName(move.type)}}</td>
        </tr>
      </table>

      <table class="table">
        <th>TM/HM</th>
        <tr *ngFor="let move of tmhmMoves"
          (click)="goMove(move.id)">
          <td>{{move.name}}</td>
          <td>{{getTypeName(move.type)}}</td>
        </tr>
      </table>
  </div>

  <div class="page-section">
    <h4 class="card-title text-center">Location</h4>
    <div> <span> Kanto: </span> Pallet Town/Initial Pokemon </div>
    <div> <span> Alola: </span> Route 2/Island Scan/Grassy Terrain </div>
  </div>
</div>
