.pokemon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
}
.evolution-node {
    width: 72px;
    height: 72px;
    margin: 4px;
    float: left;
}
.evolution-image {
    display: block;
    margin: 6px;
    height: 60px;
}
.evolution-condition {
    margin: 4px;
    height: 72px;
    float: left;
}
.section-ability {
    margin-top: 12px;
    margin-bottom: 12px;
}
.ending-block {
    width: 100%;
}