<div class="detail-page" *ngIf="pokemon && species">
  <div class="page-section">
    <app-image class="pokemon-image" [pokemonId]="pokemon.id" type="pokemon" height="200"></app-image>
    <h2 class="card-title text-center"> {{(species.names | language)[0].name}} </h2>
    <div class="text-center"> #{{pokemon.id.toString().padStart(3, '0')}} {{(species.genera | language)[0].genus}} </div>
    <div class="text-center">
      <app-type-name style="margin:4px" *ngIf="pokemon.types | slot:1; let type" url="{{type.type.url}}"></app-type-name>
      <app-type-name style="margin:4px" *ngIf="pokemon.types | slot:2; let type" url="{{type.type.url}}"></app-type-name>
    </div>
  </div>

  <div class="info-box-collection">
    <div class="info-box">
      <div class="info-box-title">Abilities</div>
      <div class="info-box-content">
        <div class="info-box-content-item" (click)="goAbility(ability.ability)" *ngIf="pokemon.abilities | slot:1; let ability">
          <app-ability-name url="{{ability.ability.url}}"></app-ability-name>
          <span *ngIf="ability.is_hidden" style="font-size:0.75rem">
            <br> Hidden
          </span>
        </div>
        <div class="info-box-content-item" (click)="goAbility(ability.ability)" *ngIf="pokemon.abilities | slot:2; let ability">
          <app-ability-name url="{{ability.ability.url}}"></app-ability-name>
          <span *ngIf="ability.is_hidden" style="font-size:0.75rem">
            <br> Hidden
          </span>
        </div>
        <div class="info-box-content-item" (click)="goAbility(ability.ability)" *ngIf="pokemon.abilities | slot:3; let ability">
          <app-ability-name url="{{ability.ability.url}}"></app-ability-name>
          <span *ngIf="ability.is_hidden" style="font-size:0.75rem">
            <br> Hidden
          </span>
        </div>
      </div>
    </div>

    <div class="info-box">
      <div class="info-box-title">Egg Groups</div>
      <div class="info-box-content">
        <div class="info-box-content-item" *ngIf="species.egg_groups[0]" (click)="goEggGroup(species.egg_groups[0])">
          <app-egg-group-name url="{{species.egg_groups[0].url}}"></app-egg-group-name>
        </div>
        <div class="info-box-content-item" *ngIf="species.egg_groups[1]" (click)="goEggGroup(species.egg_groups[1])">
          <app-egg-group-name url="{{species.egg_groups[1].url}}"></app-egg-group-name>
        </div>
      </div>
    </div>

    <div class="info-box">
      <div class="info-box-title">Capture Rate</div>
      <div class="info-box-content info-box-content-item">{{species.capture_rate}}</div>
    </div>

    <div class="info-box">
      <div class="info-box-title">Gender Rate</div>
      <div class="info-box-content info-box-content-item">{{species.gender_rate | genderRate}}</div>
    </div>

    <div class="info-box">
      <div class="info-box-title">Height</div>
      <div class="info-box-content info-box-content-item">{{pokemon.height/10}}m</div>
    </div>

    <div class="info-box">
      <div class="info-box-title">Weight</div>
      <div class="info-box-content info-box-content-item">{{pokemon.weight/10}}kg</div>
    </div>
  </div>

  <div class="page-section">
    <h4 class="card-title text-center">Base Stats</h4>
    <div class="stats-list">
      <app-stats-item header="HP" value="{{pokemon.stats | stats:'hp'}}" key="hp"></app-stats-item>
      <app-stats-item header="ATK" value="{{pokemon.stats | stats:'attack'}}" key="attack"></app-stats-item>
      <app-stats-item header="DEF" value="{{pokemon.stats | stats:'defense'}}" key="defense"></app-stats-item>
      <app-stats-item header="SPA" value="{{pokemon.stats | stats:'special-attack'}}" key="special-attack"></app-stats-item>
      <app-stats-item header="SPD" value="{{pokemon.stats | stats:'special-defense'}}" key="special-defense"></app-stats-item>
      <app-stats-item header="SPD" value="{{pokemon.stats | stats:'speed'}}" key="speed"></app-stats-item>
      <app-stats-item header="Total" value="{{getTotalStats()}}"></app-stats-item>
    </div>
  </div>

  <app-evolution-chain url='{{species.evolution_chain.url}}'>
  </app-evolution-chain>

  <div class="page-section">
    <h4 class="card-title text-center">PokeDex Entry</h4>
    <div>{{(species.flavor_text_entries | language | version)[0].flavor_text}}</div>
  </div>

  <div class="page-section">
    <h4 class="card-title text-center">Moves</h4>

    <ul ngbNav #nav="ngbNav" class="nav-pills nav-justified">
      <li [ngbNavItem]="1">
        <a ngbNavLink class="move-nav-link {{levelUpMoves.length > 0 ? '' : 'disabled'}}">Level up</a>
        <ng-template ngbNavContent>
          <div *ngFor="let index of getMaxMoveIndex()">
            <app-move-list-item *ngIf="levelUpMoves[index]" [url]='levelUpMoves[index].move.url' method='tutor'>
            </app-move-list-item>
            <div class="list-item" *ngIf="!levelUpMoves[index]">
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink class="move-nav-link {{machineMoves.length > 0 ? '' : 'disabled'}}">Machine</a>
        <ng-template ngbNavContent>
          <div *ngFor="let index of getMaxMoveIndex()">
            <app-move-list-item *ngIf="machineMoves[index]" [url]='machineMoves[index].move.url' method='tutor'>
            </app-move-list-item>
            <div class="list-item" *ngIf="!machineMoves[index]">
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink class="move-nav-link {{eggMoves.length > 0 ? '' : 'disabled'}}">Egg</a>
        <ng-template ngbNavContent>
          <div *ngFor="let index of getMaxMoveIndex()">
            <app-move-list-item *ngIf="eggMoves[index]" [url]='eggMoves[index].move.url' method='tutor'>
            </app-move-list-item>
            <div class="list-item" *ngIf="!eggMoves[index]">
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink class="move-nav-link {{tutorMoves.length > 0 ? '' : 'disabled'}}">Tutor</a>
        <ng-template ngbNavContent>
          <div *ngFor="let index of getMaxMoveIndex()">
            <app-move-list-item *ngIf="tutorMoves[index]" [url]='tutorMoves[index].move.url' method='tutor'>
            </app-move-list-item>
            <div class="list-item" *ngIf="!tutorMoves[index]">
            </div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
