.pokemon-image {
    display: flex;
    justify-content: center;
}

.info-box-collection {
    display: flex;
    flex-wrap: wrap;
}
.info-box {
    text-align: center;
    border-radius: 10px;
    border: 1px solid #656557;
    margin: 4px;
    height: 75px;
    flex-grow: 1;
}
.info-box-title {
    font-weight: 500;
    border-bottom: 1px solid #656557;
    padding: 0 1rem;
}
.info-box-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 45px;
}
.info-box-content-item {
    margin: 0 1rem;
}
.move-nav-link {
    font-size: 0.8rem;
}