<span class="ability-name"
    *ngIf="ability">
    <h5>
        {{(ability.names | language)[0].name}}
        <span *ngIf="isHidden === 'true'" style="font-size:0.75rem">
            Hidden
        </span>
    </h5>
    <div style="margin-bottom:1rem" *ngIf="ability.flavor_text_entries | language | versionGroup else noFlavorText; let flavor_text_entries">
        {{flavor_text_entries[0].flavor_text}}
    </div>
    <ng-template style="margin-bottom:1rem" #noFlavorText>Unknown</ng-template>
</span>