.evolution-chain {
    display: flex;
}
.evolution-condition {
    width: 36px;
    height: 72px;
    margin: 1rem .2rem;
}
.evolution-node {
    width: 72px;
    height: 72px;
    margin: 1rem .2rem;
}