.move-list-item {
    justify-content: space-between;
}

.move-info {
    min-width: 48px;
}

.move-name {
   width: 120px;
}

.move-power {
    width: 48px;
}

.move-type {
    margin-left: 0.5rem;
}
