<div class="list-item move-list-item"
    *ngIf="move"
    (click)="goMove()">
    <div class="move-name">
        {{(move.names | language)[0].name}}
    </div>
    <div *ngIf="detail && detail.move_learn_method.name === 'level-up'">
        {{detail.level_learned_at}}
    </div>
    <div class="move-power">
        {{move.power === null ? '-' : move.power}}
    </div>
    <div>
        <app-move-category-name [url]="move.damage_class.url"></app-move-category-name>
        <app-type-name class="move-type" [url]="move.type.url"></app-type-name>
    </div>
</div>
