.move-category-name-box {
    display: inline-block;
    min-width: 30px;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
}

.move-category-icon {
    height: 20px;
    margin-left: -20px;
    margin-top: -24px;
    margin-right: -20px;
    margin-bottom: -20px;
}