.move-category-name-box {
    display: inline-block;
    min-width: 36px;
    font-size: 13px;
    border: 1px solid #656557;
    text-align: center;
    border-radius: 10px;
}

.move-category-icon {
    height: 15px;
    margin-bottom: 2px;
}