<div class="list-item"
    *ngIf="pokemon && species"
    (click)="goPokemonDetail()">
    <div class="pokemon-icon">
        <img src="{{getImageURL('icon', pokemon.id)}}" alt="{{pokemon.name}}">
    </div>
    <div class="pokemon-name">
        {{(species.names | language)[0].name}}
    </div>
    <div class="pokemon-types">
        <app-type-name style="margin:4px" url="{{(pokemon.types | slot:1).type.url}}"></app-type-name>
        <app-type-name style="margin:4px" url="{{(pokemon.types | slot:2).type.url}}" *ngIf="pokemon.types | slot:2"></app-type-name>
    </div>
</div>
